
.bg-blue{
    background-color: #5885AF;
}
.container{
    background-color: white;
}
.ruler-color{
    color:#5885AF;
}
.padding-l-r{
    padding-left: 2em;
    padding-right: 2em;
}
.img-size{
    max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  
}
 .c-container{
    height: 100%;
    width: 100%;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  } 
  

  /* HTML & CSS colors codes for tags */